*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Rubik", sans-serif;
}
.navclick{
background-color:black;
color: white;
padding: 10px;
}
@media all and (min-width:992px) {
header{
height: 70px;
background-color:white;
font-size: 25px;
position: sticky;
display: flex;
align-items: center;
justify-content: space-around;
top: 0;
}
header h1{
font-size:25px;
letter-spacing: 2px; 
}
nav ul {
display: flex;
justify-content: space-between;
list-style-type: none;
font-weight: bold;
}
nav ul li{
float: left;
}

nav ul li a {
width: 50px;
height: 70px;
text-decoration: none;
text-align: center;
margin: 0 15px;  
color: black;
padding: 15px;
border-radius: 20px;
transition: all 0.5s;
}
nav ul li a:hover{
background-color:black ;
color:white;
font-size: 20px;
}
#MAIN{
height:calc(100vh - 60px);
display: flex;
justify-content: space-evenly ;
background-color:#02B399;
align-items: center;

}
img{
width: 300px;
border-radius: 30px;
height: 400px;
background-size: cover;
}
h2 {
font-size: 50px;
text-align: center;
color: rgb(243, 237, 237);
}

.skills{
background-color:  #02D5B6;
height: 100vh;
}
.skills h3{
font-size: 20px;
position: absolute;
width: 30%;
height: 50px;
top: 105vh;
left: 20px;
transition: all 0.8s;
font-weight: bold;
}
.skills h3:hover{
color: wheat;
border: 3px dashed black;
border-radius: 30px;
letter-spacing: 5px;
text-align: center;
}      
#icon{
height: inherit;
display: flex;
justify-content: space-evenly;
align-items: center;
}
#icon div{
width: 25%;
text-align: center;
font-size: 20px;
background-color: #01917C;
height: 350px;
border-radius: 30px;
padding: 40px 10px;
transition: all 0.5s;
}
#icon div i{
font-size: 60px;
padding-bottom: 15px;

}
.project{
    height: 100VH;
    background-color: #0D7061;
}
.project h4{
    font-size: 35px;
    transition: all 0.7s;
    margin: 20px;
    position: absolute;
    top:202vh;
    left: 20px;
}
.project h4:hover{
    border: 3px dashed  black;
    color: white;
    border-radius: 30px;
    letter-spacing: 3px;
    width: 30%;
    text-align: center;
}
#images{

background-color: #0D7061;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 30px;

}
#images .task1 , #images .task2 ,#images .task3{
width: 30vw;
height: 35%;
background-size: contain;
background-repeat: no-repeat;
padding-top: 20px;
transition: all 0.5s;
margin-top:100px ;
margin-left: 50px;
}
#images .task1:hover , #images .task2:hover ,#images .task3:hover{
font-size: 15px;
border-radius: 20px;
transform: scale(1.20);
}
#images h5{
text-align:left;
font-size: 20px;
color: white;
padding-bottom: 10px;
}
.SocialMedia{
height: 100vh;
background-color: #3db9a7;
}
.SocialMedia h6{
font-size: 35px;
transition: all 0.7s;
margin-bottom: 50px;
margin: 0 20px 50px;
padding: 10px;
}
.SocialMedia h6:hover{
border: 3px dashed  black;
color: white;
border-radius: 30px;
letter-spacing: 3px;
width: 30%;
text-align: center;
}
#content {
  display: flex;
 justify-content: space-evenly;
  align-items: center;
 height: calc(100vh - 100px);
}
#content i{
color: black;
text-decoration: none;
font-size: 75px;
}
#content a:nth-child(1) i:hover ,#content a:nth-child(2) i:hover{
transform:rotate3d(60 , 60 , 60 ,360deg ) ;
color: blue;
transition: all 0.5s;

}
#content a:nth-child(3) i:hover{
transform:rotate3d(60 , 60 , 60 ,360deg ) ;
color: white;    
transition: all 0.5s;
}
#content a:nth-child(4) i:hover{
transform:rotate3d(60 , 60 , 60 ,360deg ) ;
color: green;
transition: all 0.5s;
}
#content a:nth-child(5) i:hover{
transform:rotate3d(60 , 60 , 60 ,360deg ) ;
color: red;
transition: all 0.5s;
}
#message{
height: 100vh;
background-color: #1b7063;
display: flex;
justify-content: space-evenly;
align-items: center;
}
#message #form h7{
    font-weight:bold ;
}
#message #form{
background-color: darkgray;
text-align: center;
width: 35%;
height: 60%;
border-radius: 20px;
}
#message #form #username{
text-align: center;
width: 50%;
height: 30px;
border-radius: 19px;
background-color: darkslategray;
color: white;
margin: 10px;
transition: all 0.6s;
font-weight: bolder;
font-size: 20px;
}
#message #form #username:focus{
border: 1px solid white;
background-color: white;
color: darkslategrey;
}   
#message #form #useremail{
text-align: center;
width: 50%;
height: 30px;
border-radius: 19px;
background-color: darkslategray;
color: white;
margin: 10px;
transition: all 0.6s;
font-weight: bolder;
font-size: 20px;
}

#message #form #useremail:focus{
border: 1px solid white;
background-color: white;
color: darkslategrey;
}
#message   #leavemessage {
width:50%;
height:25vh; 
text-align: center;
border-radius: 15px;
transition: all 0.6s; 
background-color: darkslategrey;
    }
#message   #leavemessage:focus{
border: none;
background-color: white;
font-size: 15px;
text-align: center;
}
#message [type="submit"]{
    background-color: darkslategrey;
    width: 15vw;
    height: 5h;
    border-radius: 25px;
    margin: 0 15px;
    transition: all 0.6s; 
    font-weight: bold; 
}
#message [type="submit"]:hover{
    background-color: white;
    border: 2px solid darkslategrey;
    transform: scale(1.05);
    letter-spacing: 5.5px;
}
#message [type="reset"]{
    background-color: darkslategrey;
    width: 15vw;
    height: 5h;
    border-radius: 25px;
    margin: 0 15px;
    transition: all 0.6s; 
    font-weight: bold; 
}
#message [type="reset"]:hover{
    background-color: white;
    border: 2px solid darkslategrey;
    transform: scale(1.05);
    letter-spacing: 8px;
}


}
@media all and (min-width:768px) and (max-width:991px){
header{
    height: 70px;
    background-color:white;
    font-size: 15px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    }
    header h1{
    font-size:15px;
    letter-spacing:1.9px; 
    }
    nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
    }
    nav ul li{
    float: left;
    }

    nav ul li a {
    width: 50px;
    height: 70px;
    text-decoration: none;
    text-align: center;
    margin: 0 15px;  
    color: black;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.5s;
    }
    nav ul li a:hover{
    background-color:black ;
    color:white;
    font-size: 20px;
    }
    #MAIN{
    height:calc(100vh - 60px);
    display: flex;
    justify-content: space-evenly ;
    background-color:#02B399;
    align-items: center;
    
    }
    img{
    width: 300px;
    border-radius: 30px;
    height: 400px;
    background-size: cover;
    }
    h2 {
    font-size:30px;
    text-align: center;
    color: rgb(243, 237, 237);
    }

    .skills{
    background-color:  #02D5B6;
    height: 100vh;
    }
    .skills h3{
    
    font-size: 15px;
    position: absolute;
    width: 30%;
    height: 50px;
    top: 105vh;
    left: 10%;
    transition: all 0.8s;
    }
    .skills h3:hover{
    color: wheat;
    border: 3px dashed black;
    border-radius: 30px;
    letter-spacing: 3px;
    text-align: center;
    }      
    #icon{
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    #icon div{
    width: 25%;
    text-align: center;
    font-size:16px;
    background-color: #01917C;
    height: 350px;
    border-radius: 30px;
    padding: 40px 10px;
    transition: all 0.5s;
}
    #icon div i{
    font-size: 50px;
    padding-bottom: 15px;
    
    }
    .project h4{
    position: absolute;
    top: 210vh;
    font-size:25px;
    width:45%;
    height: 50px;
    text-align: center;}
    .project h4:hover{
    border:3px dashed rgb(5, 5, 5);
    border-radius: 30px;
    letter-spacing: 5px;
    color: wheat;
    }
    #images{
    height: 100vh;
    background-color: #0D7061;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    
    }
    #images .task1 , #images .task2 ,#images .task3{
    width: 25vw;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s; 
    }
    #images .task1:hover , #images .task2:hover ,#images .task3:hover{
    font-size: 10px;
    border-radius: 20px;
    transform: scale(1.20);
    }
    #images h5{
    text-align:left;
    font-size:15px;
    color: white;
    padding-bottom: 10px;
    }
    .SocialMedia{
    height: 100vh;
    background-color: #3db9a7;
    }
    .SocialMedia h6{
    font-size: 20px;
    transition: all 0.7s;
    margin-bottom: 50px;
    margin: 0 20px 50px;
    padding: 10px;
    }
    .SocialMedia h6:hover{
    border: 3px dashed  black;
    color: white;
    border-radius: 30px;
    letter-spacing: 3px;
    width: 30%;
    text-align: center;
    }
    #content {
      display: flex;
     justify-content: space-evenly;
      align-items: center;
     height: calc(100vh - 100px);
    }
    #content i{
    color: black;
    text-decoration: none;
    font-size: 60px;
    }
    #content a:nth-child(1) i:hover ,#content a:nth-child(2) i:hover{
    transform:rotate3d(60 , 60 , 60 ,360deg ) ;
    color: blue;
    transition: all 0.5s;
   
    }
    #content a:nth-child(3) i:hover{
    transform:rotate3d(60 , 60 , 60 ,360deg ) ;
    color: white;    
    transition: all 0.5s;
    }
    #content a:nth-child(4) i:hover{
    transform:rotate3d(60 , 60 , 60 ,360deg ) ;
    color: green;
    transition: all 0.5s;
    }
    #content a:nth-child(5) i:hover{
    transform:rotate3d(60 , 60 , 60 ,360deg ) ;
    color: red;
    transition: all 0.5s;
    }
    #message{
    height: 100vh;
    background-color: #1b7063;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    #message #form h7{
        font-weight:bold ;
    }
    #message #form{
    background-color: darkgray;
    text-align: center;
    width: 35%;
    height: 60%;
    border-radius: 20px;
    }
    #message #form #username{
    text-align: center;
    width: 50%;
    height: 30px;
    border-radius: 19px;
    background-color: darkslategray;
    color: white;
    margin: 10px;
    transition: all 0.6s;
    font-weight: bolder;
    font-size: 15px;
    }
    #message #form #username:focus{
    border: 1px solid white;
    background-color: white;
    color: darkslategrey;
    }   
    #message #form #useremail{
    text-align: center;
    width: 50%;
    height: 30px;
    border-radius: 19px;
    background-color: darkslategray;
    color: white;
    margin: 10px;
    transition: all 0.6s;
    font-weight: bolder;
    font-size: 15px;
    }
    #message #form #useremail:focus{
    border: 1px solid white;
    background-color: white;
    color: darkslategrey;
    }
    #message   #leavemessage {
    width:50%;
    height:25vh; 
    text-align: center;
    border-radius: 15px;
    transition: all 0.6s; 
    background-color: darkslategrey;
        }
    #message   #leavemessage:focus{
    border: none;
    background-color: white;
    font-size: 15px;
    text-align: center;
    }
    #message [type="submit"]{
        background-color: darkslategrey;
        width: 15vw;
        height: 5h;
        border-radius: 25px;
        margin: 0 15px;
        transition: all 0.6s;
        text-align: center;
    }
    #message [type="submit"]:hover{
        background-color: white;
        border: 2px solid darkslategrey;
        transform: scale(1.05);
        letter-spacing: 8px;
    }
    #message [type="reset"]{
        background-color: darkslategrey;
        width: 15vw;
        height: 5h;
        border-radius: 25px;
        margin: 0 15px;
        transition: all 0.6s; 
        text-align: center;
    }
    #message [type="reset"]:hover{
        background-color: white;
        border: 2px solid darkslategrey;
        transform: scale(1.05);
        letter-spacing: 8px;
    }
}
@media all and (min-width: 576px) and (max-width :767px){
header{
    height: 70px;
    background-color:white;
    font-size: 9px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    }
    header h1{
    font-size:7px;
    letter-spacing:1px; 
    }
    nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
    }
    nav ul li{
    float: left;
    }

    nav ul li a {
    width: 50px;
    height: 70px;
    text-decoration: none;
    text-align: center;
    margin: 0 15px;  
    color: black;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.5s;
    }
    nav ul li a:hover{
    background-color:black ;
    color:white;
    font-size: 10px;
    }
    #MAIN{
    height:calc(100vh - 60px);
    display: flex;
    justify-content: space-evenly ;
    background-color:#02B399;
    align-items: center;
    
    }
    img{
    width: 150px;
    border-radius: 30px;
    height: 200px;
    background-size: cover;
    }
    h2 {
    font-size:30px;
    text-align: center;
    color: rgb(243, 237, 237);
    }

    .skills{
    background-color:  #02D5B6;
    height: 100vh;
    }
    .skills h3{
    
    font-size:10px;
    position: absolute;
    width: 30%;
    height: 50px;
    top: 105vh;
    left: 10%;
    transition: all 0.8s;
    }
    .skills h3:hover{
    color: wheat;
    border: 3px dashed black;
    border-radius: 30px;
    letter-spacing: 3px;
    text-align: center;
    }      
    #icon{
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    #icon div{
    width: 25%;
    text-align: center;
    font-size:12px;
    background-color: #01917C;
    height: 350px;
    border-radius: 30px;
    padding: 40px 10px;
    transition: all 0.5s;
}
    #icon div i{
    font-size: 30px;
    padding-bottom: 15px;
    
    }
    .project h4{
    position: absolute;
    top: 210vh;
    font-size:18px;
    width:45%;
    height: 50px;
    text-align: center;}
    .project h4:hover{
    border:3px dashed rgb(5, 5, 5);
    border-radius: 30px;
    letter-spacing: 5px;
    color: wheat;
    }
    #images{
    height: 100vh;
    background-color: #0D7061;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    
    }
    #images .task1 , #images .task2 ,#images .task3{
    width: 30vw;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s; 
    }
    #images .task1:hover , #images .task2:hover ,#images .task3:hover{
    font-size: 10px;
    border-radius: 20px;
    transform: scale(1.20);
    }
    #images h5{
    text-align:left;
    font-size:15px;
    color: white;
    padding-bottom: 10px;
    }
    .SocialMedia{
    height: 100vh;
    background-color: #3db9a7;
    }
    .SocialMedia h6{
    font-size: 20px;
    transition: all 0.7s;
    margin-bottom: 50px;
    margin: 0 20px 50px;
    padding: 10px;
    }
    .SocialMedia h6:hover{
    border: 3px dashed  black;
    color: white;
    border-radius: 30px;
    letter-spacing: 3px;
    width: 30%;
    text-align: center;
    }
    #content {
      display: flex;
     justify-content: space-evenly;
      align-items: center;
     height: calc(100vh - 100px);
    }
    #content i{
    color: black;
    text-decoration: none;
    font-size: 50px;
    }
    #content a:nth-child(1) i:hover ,#content a:nth-child(2) i:hover{
    transform:rotate3d(60 , 60 , 60 ,360deg ) ;
    color: blue;
    transition: all 0.5s;
   
    }
    #content a:nth-child(3) i:hover{
    transform:rotate3d(60 , 60 , 60 ,360deg ) ;
    color: white;    
    transition: all 0.5s;
    }
    #content a:nth-child(4) i:hover{
    transform:rotate3d(60 , 60 , 60 ,360deg ) ;
    color: green;
    transition: all 0.5s;
    }
    #content a:nth-child(5) i:hover{
    transform:rotate3d(60 , 60 , 60 ,360deg ) ;
    color: red;
    transition: all 0.5s;
    }
    #message{
    height: 100vh;
    background-color: #1b7063;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    #message #form h7{
        font-weight:bold ;
    }
    #message #form{
    background-color: darkgray;
    text-align: center;
    width: 35%;
    height: 60%;
    border-radius: 20px;
    }
    #message #form #username{
    text-align: center;
    width: 50%;
    height: 30px;
    border-radius: 19px;
    background-color: darkslategray;
    color: white;
    margin: 10px;
    transition: all 0.6s;
    font-weight: bolder;
    font-size: 10px;
    }
    #message #form #username:focus{
    border: 1px solid white;
    background-color: white;
    color: darkslategrey;
    }   
    #message #form #useremail{
    text-align: center;
    width: 50%;
    height: 30px;
    border-radius: 19px;
    background-color: darkslategray;
    color: white;
    margin: 10px;
    transition: all 0.6s;
    font-weight: bolder;
    font-size: 10px;
    }
    #message #form #useremail:focus{
    border: 1px solid white;
    background-color: white;
    color: darkslategrey;
    }
    #message   #leavemessage {
    width:50%;
    height:25vh; 
    text-align: center;
    border-radius: 15px;
    transition: all 0.6s; 
    background-color: darkslategrey;
        }
    #message   #leavemessage:focus{
    border: none;
    background-color: white;
    font-size: 15px;
    text-align: center;
    }
    #message [type="submit"]{
        background-color: darkslategrey;
        width: 15vw;
        height: 5h;
        border-radius: 25px;
        margin: 0 15px;
        transition: all 0.6s;
        text-align: center;
    }
    #message [type="submit"]:hover{
        background-color: white;
        border: 2px solid darkslategrey;
        transform: scale(1.05);
        letter-spacing:1.5px;
    }
    #message [type="reset"]{
        background-color: darkslategrey;
        width: 15vw;
        height: 5h;
        border-radius: 25px;
        margin: 0 15px;
        transition: all 0.6s; 
        text-align: center;
    }
    #message [type="reset"]:hover{
        background-color: white;
        border: 2px solid darkslategrey;
        transform: scale(1.05);
        letter-spacing: 2px;
    }
}